<div class="goikoBotoiak">
<button type="button" class="btn btn-primary" (click)="erakutsiFormularioa()" *ngIf="ezkutatu==false">Erregistro berria sortu</button>
<!-- <button type="button" class="btn btn-secondary" (click)="atzera()" *ngIf="ezkutatu==true">Atzera</button> -->
</div>

<div class="cards" *ngIf="ezkutatu==false">
  <div *ngFor="let viajero of viajeros; let i = index">
    <app-viajero [viajero]="viajero" [posicion]="i" (aldatuBidaiaria)="aldatuBidaiaria($event)" (ezabatuBidaiaria)="bidaiariaEzabatu($event)"></app-viajero>
  </div>
</div>

<div class="formularioa" *ngIf="ezkutatu==true">
  <div>
    <form>
      <label for="izena">Izena:</label><br>
      <input type="text" id="izena" name="izena" [(ngModel)]="izena"><br>
      <label for="abizena">Abizena:</label><br>
      <input type="text" id="abizena" name="abizena" [(ngModel)]="abizena"><br>
      <label for="dni">DNI:</label><br>
      <input type="text" id="dni" name="dni" [(ngModel)]="dni"><br>
      <label for="fechaI">Fecha de ingreso:</label><br>
      <input type="text" id="fechaI" name="fechaI" [(ngModel)]="fechaI"><br>
      <label for="fechaS">Fecha de salida:</label><br>
      <input type="text" id="fechaS" name="fechaS" [(ngModel)]="fechaS"><br>
      <label for="habitacion">Habitacion:</label><br>
      <input type="text" id="habitacion" name="habitacion" [(ngModel)]="habitacion"><br>
      <button type="submit" class="btn btn-primary" (click)="aldaketakGorde()">Bidali</button>
      <button type="button" class="btn btn-secondary" (click)="atzera()">Atzera</button>
    </form>
  </div>
</div>
